.table-area {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 60px;
  width: 100vw;
}

.table-area .mat-elevation-z8 {
  width: 70% !important;
  min-width: unset !important;
}

.heading-container {
  display: flex;
  justify-content: center;
}

.heading {
  font-size: 29px;
  height: 67px;
  width: 271px;
  pointer-events: none;
}
